$blue: #2749a0;
$blue-1: #0c0c70;
$blue-2: #2849a0;
$blue-3: #3975de;
$blue-4: #005dbb;
$black: #1f1f1f;
$bg-grey: #eeeeee;
$bg-grey-1: #f7f7f7;
$bd-grey: #cccccc;
$bd-grey-1: #8a8a8a;
$bd-grey-2-small: #f1f1f1;

$all: all 0.5s ease;

$line-blue-1: rgba(41, 75, 162, 0.883);
$line-blue-2: rgba(58, 118, 222, 0.931);
